@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@700&display=swap');

.animated-gradient {
  background: linear-gradient(
    45deg,
    #dc2626,
    hsl(333, 71%, 51%),
    #ec4899,
    #f97316,
    #dc2626
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientShift 10s ease-in-out infinite;
  
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.font-turret {
  font-family: 'Turret Road', sans-serif;
}
